@import "tailwindcss";

:root {
  --background: #1E1E1E;
  --foreground: #F5F5F5;
  --text-secondary: #52B788;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-image:
    linear-gradient(to right, #41475185 2px, transparent 1px),
    linear-gradient(to bottom, #41475185  2px, transparent 1px),
    url('../../../public/noise.svg');
  background-size: 172px 172px;
  background-position: 5.2% 0;
}